<section id="analises">
    <div class="wrapper" id="totais-wrapper">
        <div id="control-filters">
            <label for="data-inicio">Data inicio</label>
            <input type="date" id="data-inicio" name="data-inicio" />
            <label for="data-fim">Data fim</label>
            <input type="date" id="data-fim" name="data-fim" />
            <button>clear</button>
        </div>
        <h3 id="totais">Totais R$ 1.200,00</h3>
        <h3 id="pago">Pago R$ 1.200,00</h3>
        <h3 id="pendente">Pendente R$ 1.200,00</h3>
    </div>
    <div id="dash">
        <div class="row">
            <div class="col-75 wrapper">
                <!-- <h2>Total despesas por mês</h2> -->
                <canvas id="meuGrafico" width="100%" height="100%"></canvas>
            </div>
            <div class="col-25 wrapper">
                <h2>% despesas pagas</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-25 wrapper"><h2>Tipo pagamento</h2></div>
            <div class="col-50 wrapper">
                <h2>Despesas por categoria</h2>
            </div>
            <div class="col-25 wrapper">
                <h2>% Formas de pagamento</h2>
            </div>
        </div>
    </div>
</section>
