<section id="despesas">
	<div id="filters">
		<input
			type="text"
			placeholder="Descrição"
		/>
		<input
			type="text"
			placeholder="Valor R$"
		/>
		<input
			type="date"
			placeholder="Data"
		/>
		<select
			name="categoria"
			id="categoria-filter"
		>
			<option
				value=""
				disabled
				selected
			>
				Categoria
			</option>
		</select>
		<button id="search">Search</button>
		<button id="clear">Clear</button>
	</div>
	<div id="controllers">
		<button id="add">Add</button>
		<button id="edit">Edit</button>
		<button id="delete">Dell</button>
		<button id="update">Update</button>
	</div>

	<div id="table-wrapper">
		<table id="table-despesas"></table>
	</div>
</section>
