<section id="despesas">
	<div id="filters">
		<input
			type="text"
			placeholder="Descrição"
		/>
		<input
			type="text"
			placeholder="Valor R$"
		/>
		<input
			type="date"
			placeholder="Data"
		/>
		<select
			name="categoria"
			id="categoria-filter"
		>
			<option
				value=""
				disabled
				selected
			>
				Categoria
			</option>
		</select>
		<button id="search">Search</button>
		<button id="clear">Clear</button>
	</div>
	<div id="controllers">
		<button id="add">Add</button>
		<button id="edit">Edit</button>
		<button id="delete">Dell</button>
		<button id="update">Update</button>
	</div>

	<div id="table-wrapper">
		<table id="table-despesas"></table>
	</div>
</section>

<!-- Modal (escondido inicialmente) -->
<div
	id="modal-despesa"
	class="modal"
>
	<div class="modal-content">
		<span
			id="close-modal"
			class="close"
			>&times;</span
		>
		<h2 id="modal-title">Cadastrar Nova Despesa</h2>
		<form id="form-despesa">
			<input
				type="text"
				name="descricao"
				required
				placeholder="Descrição"
			/>
			<select
				name="categoria"
				id="categoria"
				required
			></select>

			<input
				type="number"
				step="0.01"
				name="valor"
				placeholder="Valor R$"
				required
			/>
			<input
				type="date"
				name="data"
				required
			/>
			<select
				name="forma_pagamento"
				id="forma_pagamento"
				required
			></select>

			<select
				name="tipo_pagamento"
				id="tipo_pagamento"
				required
			></select>

			<select
				name="status_despesa"
				id="status_despesa"
				required
			></select>

			<textarea
				name="observacao"
				id="observacao"
				placeholder="Observação"
				class="box-text"
			></textarea>

			<button type="submit">Salvar</button>
		</form>
	</div>
</div>
