<section id="despesas">
	<div id="filters">
		<input
			type="text"
			placeholder="Descrição"
			id="descricao-filter"
		/>
		<select
			name="categoria"
			id="categoria-filter"
		></select>
		<input
			type="number"
			placeholder="Valor R$"
			id="valor-filter"
		/>
		<input
			type="date"
			placeholder="Data"
			id="data-filter"
		/>
		<select
			name="status_despesa"
			id="status-despesa-filter"
		></select>
		<button id="search">Search</button>
		<button id="clear">Clear</button>
	</div>
	<div id="controllers">
		<button id="add">Add</button>
		<button id="edit">Edit</button>
		<button id="delete">Dell</button>
		<button id="update">Update</button>
		<button id="export">Export</button>
	</div>

	<div id="table-wrapper">
		<table id="table-despesas"></table>
	</div>
</section>
