<section id="funcionarios">
    <div id="filters">
        <input type="text" name="nome" id="nome" placeholder="Nome" />
        <input type="text" name="contato" id="contato" placeholder="Contato" />
        <select name="status_funcionario" id="status_funcionario"></select>
        <button id="search">Search</button>
        <button id="clear">Clear</button>
    </div>
    <div id="controllers">
        <button id="add">Add</button>
        <button id="edit">Edit</button>
        <button id="delete">Dell</button>
        <button id="update">Update</button>
    </div>
    <div id="table-wrapper">
        <table id="table-funcionarios"></table>
    </div>
</section>
