<section id="funcionario">
    <div id="imagem-funcionario-wrapper">
        <div>
            <button id="return">Return</button>
        </div>
        <img
            src="./public/img/person.png"
            alt="Imagem funcionario"
            id="imagem-funcionario"
        />

        <div>
            <button id="add-imagem">Add</button>
            <button id="delete-imagem">Dell</button>
        </div>
    </div>
    <div id="informacoes-funcionario">
        <form action="">
            <input type="text" placeholder="nome" name="nome" id="nome" />
            <input type="text" placeholder="cpf" name="cpf" id="cpf" />
            <select name="sexo" id="sexo">
                <option value="" disabled selected>Sexo</option>
                <option value="1">Feminino</option>
                <option value="2">Masculino</option>
            </select>
            <input
                type="date"
                placeholder="data_nascimento"
                name="data_nascimento"
                id="data_nascimento"
            />
        </form>
    </div>
</section>
