<section id="funcionarios">
    <div id="filters">
        <input type="text" name="nome" id="nome" placeholder="Nome" />
        <input type="text" name="contato" id="contato" placeholder="Contato" />
        <select name="status_funcionario" id="status_funcionario"></select>
        <button id="search">Search</button>
        <button id="clear">Clear</button>
    </div>
    <div id="controllers">
        <button id="add">Add</button>
        <button id="edit">Edit</button>
        <button id="delete">Dell</button>
        <button id="update">Update</button>
    </div>
    <div id="table-wrapper">
        <table id="table-funcionarios"></table>
    </div>
</section>
<div id="funcionario-modal-wrapper">
    <div id="funcionario-modal-content">
        <div id="close-wrapper">
            <button id="close-modal-funcionario">X</button>
        </div>
        <div id="funcionario-wrapper">
            <div id="imagem-funcionario-wrapper">
                <img
                    src="./public/img/person.png"
                    alt="Imagem funcionario"
                    id="imagem-funcionario"
                />

                <div>
                    <button id="add-imagem">Add</button>
                    <button id="delete-imagem">Dell</button>
                </div>
            </div>
            <div id="informacoes-funcionario">
                <form action="">
                    <div>
                        <input
                            type="text"
                            placeholder="nome"
                            name="nome"
                            id="nome"
                        />

                        <select name="sexo" id="sexo">
                            <option value="" disabled selected>Sexo</option>
                            <option value="1">Feminino</option>
                            <option value="2">Masculino</option>
                        </select>

                        <input
                            type="text"
                            placeholder="CPF"
                            name="cpf"
                            id="cpf"
                        />

                        <input
                            type="date"
                            placeholder="data_nascimento"
                            name="data_nascimento"
                            id="data_nascimento"
                        />

                        <input
                            type="text"
                            placeholder="Contato"
                            name="contato"
                            id="contato"
                        />

                        <input
                            type="text"
                            placeholder="Endereço"
                            name="endereco"
                            id="endereco"
                        />

                        <input
                            type="text"
                            placeholder="CEP"
                            name="cep"
                            id="cep"
                        />

                        <input
                            type="text"
                            placeholder="E-mail"
                            name="email"
                            id="email"
                        />

                        <input
                            type="text"
                            placeholder="Status"
                            name="status_funcionario"
                            id="status_funcionario"
                        />

                        <input
                            type="text"
                            placeholder="Banco"
                            name="banco"
                            id="banco"
                        />

                        <input
                            type="text"
                            placeholder="Agência"
                            name="agencia"
                            id="agencia"
                        />

                        <input
                            type="text"
                            placeholder="Conta"
                            name="conta"
                            id="conta"
                        />

                        <select name="vinculo" id="vinculo">
                            <option value="" disabled selected>Vinculo</option>
                            <option value="1">CLT</option>
                            <option value="2">PJ</option>
                        </select>
                    </div>
                    <div>
                        <button>Add</button>
                        <button>Edit</button>
                        <button>Remove</button>
                    </div>
                    <div id="table-despesas-funcionario-wrapper">
                        <table id="despesas-funcionario">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Descrição</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Descrição 1</td>
                                    <td>R$ 100,00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="save-wrapper">
                        <button type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
