<section id="funcionarios">
    <div id="filters">
        <input type="text" name="nome" id="nome" placeholder="Nome" />
        <input type="text" name="contato" id="contato" placeholder="Contato" />
        <select
            name="status_funcionario"
            id="status_funcionario_filter"
        ></select>
        <button id="search">Search</button>
        <button id="clear">Clear</button>
    </div>
    <div id="controllers">
        <button id="add">Add</button>
        <button id="edit">Edit</button>
        <button id="delete">Dell</button>
        <button id="update">Update</button>
    </div>
    <div id="table-wrapper">
        <table id="table-funcionarios"></table>
    </div>
</section>

<!-- modal funcionario >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
<section id="funcionario-modal">
    <div id="funcionario-modal-content">
        <div id="close-modal-funcionario-wrapper">
            <span id="close-modal-funcionario" class="close">&times;</span>
        </div>
        <div id="funcionario-wrapper">
            <div id="imagem-funcionario-wrapper">
                <img
                    src="./public/img/person.png"
                    alt="Imagem funcionario"
                    id="imagem-funcionario"
                />

                <div>
                    <button id="add-imagem">Add</button>
                    <button id="delete-imagem">Dell</button>
                </div>
            </div>
            <form id="form-funcionario" action="">
                <div id="info-funcionario-wrapper">
                    <div class="row">
                        <input
                            type="text"
                            placeholder="nome"
                            name="nome"
                            id="nome"
                            class="col-75"
                            required
                        />
                        <select name="sexo" id="sexo" class="col-25" required>
                            <option value="" disabled selected>Sexo</option>
                            <option value="1">Feminino</option>
                            <option value="2">Masculino</option>
                        </select>
                    </div>
                    <div class="row">
                        <input
                            type="text"
                            placeholder="CPF"
                            name="cpf"
                            id="cpf"
                            class="col-25"
                        />
                        <input
                            type="date"
                            placeholder="data_nascimento"
                            name="data_nascimento"
                            id="data_nascimento"
                            class="col-15"
                            required
                        />
                        <input
                            type="text"
                            placeholder="Contato"
                            name="contato"
                            id="contato"
                            class="col-25"
                        />
                        <input
                            type="text"
                            placeholder="E-mail"
                            name="email"
                            id="email"
                            class="col-35"
                        />
                    </div>
                    <div class="row">
                        <input
                            type="text"
                            placeholder="Endereço"
                            name="endereco"
                            id="endereco"
                            class="col-75"
                        />

                        <input
                            type="text"
                            placeholder="CEP"
                            name="cep"
                            id="cep"
                            class="col-25"
                        />
                    </div>
                    <div class="row">
                        <input
                            type="text"
                            placeholder="Banco"
                            name="banco"
                            id="banco"
                            class="col-33"
                        />

                        <input
                            type="text"
                            placeholder="Agência"
                            name="agencia"
                            id="agencia"
                            class="col-33"
                        />

                        <input
                            type="text"
                            placeholder="Conta"
                            name="conta"
                            id="conta"
                            class="col-33"
                        />
                    </div>
                    <div class="row">
                        <select
                            name="status_funcionario"
                            id="status_funcionario"
                            class="col-25"
                            required
                        >
                            <option value="" disabled selected>Status</option>
                            <option value="1">Ativo</option>
                            <option value="2">Inativo</option>
                        </select>
                        <select
                            name="vinculo"
                            id="vinculo"
                            class="col-25"
                            required
                        >
                            <option value="" disabled selected>Vinculo</option>
                            <option value="1">CLT</option>
                            <option value="2">PJ</option>
                        </select>
                    </div>
                </div>
                <div id="btn-save-funcionario-wrapper" class="row">
                    <button type="submit" class="col-25">Save</button>
                </div>
            </form>
        </div>
        <div id="table-funcionario-wrapper">
            <div id="table-wrapper">
                <table id="table-funcionario">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Descrição</th>
                            <th>Categoria</th>
                            <th>Valor R$</th>
                            <th>Data</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Descrição despesa 1</td>
                            <td>Lazer</td>
                            <td>100,00</td>
                            <td>02/05/2025</td>
                            <td>Pendente</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Descrição despesa 1</td>
                            <td>Lazer</td>
                            <td>100,00</td>
                            <td>02/05/2025</td>
                            <td>Pendente</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Descrição despesa 1</td>
                            <td>Lazer</td>
                            <td>100,00</td>
                            <td>02/05/2025</td>
                            <td>Pendente</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Descrição despesa 1</td>
                            <td>Lazer</td>
                            <td>100,00</td>
                            <td>02/05/2025</td>
                            <td>Pendente</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Descrição despesa 1</td>
                            <td>Lazer</td>
                            <td>100,00</td>
                            <td>02/05/2025</td>
                            <td>Pendente</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Descrição despesa 1</td>
                            <td>Lazer</td>
                            <td>100,00</td>
                            <td>02/05/2025</td>
                            <td>Pendente</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="table-funcionario-controls">
                <button id="add-despesa-funcionario">Add</button>
                <button id="edit-despesa-funcionario">Edit</button>
                <button id="delete-despesa-funcionario">Dell</button>
            </div>
        </div>
    </div>
</section>

<!-- modal funcionario <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
