#funcionario-modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#funcionario-modal-content {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    gap: 10px;
}

#close-modal-funcionario-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#imagem-funcionario-wrapper {
    width: 20%;
}

#imagem-funcionario-wrapper img {
    width: 100%;
}

#form-funcionario {
    width: 77%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#info-funcionario-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#funcionario-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#table-funcionario-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-top: 1px solid var(--b1-2-color);
    padding: 10px;
}
/* 
#funcionario-modal-wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 1100px;
    min-height: 650px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
}

#funcionario-modal-content {
    background: var(--g1-color);
    color: var(--b1-1-color);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    min-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#close-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#funcionario-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#funcionario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#funcionario #controllers {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

#imagem-funcionario-wrapper {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#imagem-funcionario {
    width: 100%;
}

#informacoes-funcionario {
    width: 73%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#informacoes-funcionario form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
}
#table-despesas-funcionario-wrapper {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: 32dvh;
    gap: 10px;
}

#save-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 2dvh;
} */
